<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <div class="topPage">
        <h1>REGISTER PAGE</h1>
        <h2>Please register</h2>
    </div>
    <form action="/auth/register" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="Username" type="text" /><br>
        <label for="firstName">First name</label>
        <input id="firstName" name="firstName" placeholder="First Name" type="text" /><br>
        <label for="lastName">Last name</label>
        <input id="lastName" name="lastName" placeholder="Last Name" type="text" /><br>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required /><br>
        <label for="passwordConfirmation">Password <br> Confirmation</label>
        <input id="passwordConfirmation" name="passwordConfirmation" type="password" requires /><br>
        <button>Register</button>
    </form>
    <h1>Or <a href="/">LOGIN</a></h1>
</body>

</html>